<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>


<body>
    <div class="container">
        <div class="page-content">
            <div class="page">
                <div id="top-bar-div">
                    <div class="flex">
                        <div class="flex-6">
                            <h1 class="app-title">
                                <i class="fa-solid fa-money-bill-trend-up"></i>
                               Stocks
                            </h1>
                        </div>
                        <div class="text-right flex-1">
                            <input type="search" class="search-text" placeholder="Search Stocks" />
                            <i class="fa-solid fa-gear"></i>
                            <button class="button button-blue-back login-button">Login</button>
                        </div>


                    </div>
                    <div class="navbar mb text-left">
                        @{
                            var currentUrl = Context.Request.Path.ToString().ToLower();
                        }

                        <ul>
                            <li>
                                <a asp-controller="Stock" asp-action="Explore"
                                   class="@(currentUrl.StartsWith("/explore") || currentUrl.StartsWith("/stock/explore") || currentUrl == "/" ? "nav-active" : "")">
                                    Explore
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Trade" asp-action="Index"
                                   class="@(currentUrl.StartsWith("/trade/index") ? "nav-active" : "")">
                                    Trade
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Trade" asp-action="Orders"
                                   class="@(currentUrl.StartsWith("/trade/orders") || currentUrl.StartsWith("/trade/buyorder") || currentUrl.StartsWith("/trade/sellorder") ? "nav-active" : "")">
                                    Orders
                                </a>
                            </li>
                        </ul>


                    </div>
                    <div>
                    </div>

                </div>
            </div>
            <div class="">
                @RenderBody()
            </div>
        </div>

    </div>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
